@charset "utf-8"

@import "_vars"

*
  margin: 0
  padding: 0

@font-face
  font-family: FivoSans
  src: url("../fonts/FivoSans-Regular.otf")

body,
button
  font-family: $font-family
  font-size: $font-size
  font-weight: 400

body
  background: url("../images/header_bg.png") top center no-repeat
  background-size: 100% auto

h3, h4
  color: $title-color

h3
  font-size: $font-size-h3
  line-height: $line-height-h3

h4
  font-size: $font-size-h4

a
  text-decoration: none

.base-text
  line-height: 40px
  opacity: .65

.container
  max-width: 1425px
  margin: 0 auto

.btn
  cursor: pointer
  outline: none
  transition: all .2s ease-in-out

.btn-primary
  color: #fff
  border: 2px solid $main-color
  background-color: $main-color
  &:hover
    color: $main-color
    background-color: #fff

.btn-inverse
  color: $main-color
  border: 2px solid $main-color
  background-color: transparent
  &:hover
    background-color: #fff

.btn-alternate
  color: #fff
  border: 2px solid transparent
  background-color: $alternate-color
  &:hover
    color: $alternate-color
    border: 2px solid $alternate-color
    background-color: #fff

.link:hover
  color: $main-color

.link-preview
  display: inline-block
  color: $preview-link-color
  &:hover
    text-decoration: underline

.header-row,
.section-row
  display: flex
  width: 100%

.header-top
  padding-top: 70px
  justify-content: space-between

.logo
  color: $main-color
  font-size: $font-size + 16px
  font-weight: 700

.header-top-lh
  line-height: 42px

.top-menu
  display: flex
  list-style-type: none

.nav-top-menu
  margin-left: auto
  margin-right: 92px

.top-menu-item
  margin-left: 33px
  margin-right: 33px

.top-menu-link
  color: #1c2056
  opacity: .5
  &:hover
    opacity: 1

.item-active
  color: $main-color
  font-weight: 700
  opacity: 1

.btn-login
  width: 140px
  height: 42px
  box-shadow: -5px 6px 49px 5px rgba(255, 0, 5, .19)
  border-width: 1px
  border-radius: 21px

.header-content
  width: 540px
  margin-top: 135px
  margin-left: 120px
  & h3
    margin-bottom: 25px

.header-text
  width: 90%

.header-content-buttons
  margin-top: 60px

.btn-service,
.btn-signup
  width: 240px
  height: 80px

.btn-service
  margin-right: 27px
  box-shadow: -14px 17px 24px 1px rgba(226, 88, 91, .45), 0 0 7px rgba(255, 255, 255, .35)
  border-radius: 40px

.btn-signup
  box-shadow: -14px 17px 24px 1px rgba(227, 94, 108, .45)
  border-radius: 40px

.promo-block
  margin-top: 455px
  margin-bottom: 140px

.promo-block,
.features-block,
.articles-block
  opacity: 0
  transform: translateY(0)
  transition: opacity 1s ease-in-out, transform .7s ease-in-out

.showed-up
  transform: translateY(-50px)
  opacity: 1

.section-title
  width: 100%
  margin-bottom: 20px
  text-align: center
  & h3
    margin-bottom: 20px

.promos
  margin-top: 130px
  justify-content: space-around

.promo-box
  width: 275px
  text-align: center

.promo-img
  height: 225px

.promo-text
  margin-top: 75px
  & h4
    margin-bottom: 25px
  & p
    line-height: 27px
    opacity: .65

.features-block
  position: relative
  margin-bottom: 140px
  padding-top: 120px
  overflow: hidden
  &:before
    width: 229px
    height: 377px
    position: absolute
    top: 350px
    left: -60px
    z-index: -1
    content: ''
    background: url("../images/bg_branch.png") no-repeat
    background-size: cover
    transform: scale(-1, 1)
  &:after
    width: 300px
    height: 448px
    position: absolute
    top: 30px
    right: -90px
    z-index: -1
    content: ''
    background: url("../images/bg_cloud_clear.png") no-repeat
    background-size: cover
    transform: rotate(-23deg)

.features
  margin-left: 45px
  & h3
    margin-top: 30px
    margin-bottom: 80px

.features-text
  margin-bottom: 50px
  margin-left: 71px
  & h4
    margin-bottom: 7px
    &:before
      content: ''
      display: inline-block
      width: 31px
      height: 24px
      margin-left: -50px
      margin-right: 21px
      background: url("../images/checklist.png") no-repeat

.articles-block
  position: relative
  margin-bottom: 145px
  background: url("../images/bg_cloud_clear.png") no-repeat -120px 50%, url("../images/bg_branch.png") no-repeat 104% 63%
  overflow: hidden
  &:before
    width: 351px
    height: 445px
    position: absolute
    top: 42%
    right: -90px
    z-index: -1
    content: ''
    background: url("../images/bg_cloud_clear.png") no-repeat
    background-size: cover
    transform: rotate(-37deg)

.articles-top
  margin-top: 150px
  margin-bottom: 300px
  & .article-preview
    width: 550px
    margin-top: 120px
    margin-left: 55px
    margin-right: 130px
  & h3
    margin-bottom: 80px
  & .base-text,
  & .link-preview
    margin-left: 55px
    margin-right: 95px
  & .link-preview
    margin-top: 75px

.article-author
  font-size: $font-size + 2px
  font-style: oblique
  line-height: 40px
  opacity: .5

.articles-bottom
  margin-bottom: 150px
  & img
    margin-left: -77px
  & .article-preview
    width: 670px
    margin-top: -29px
    margin-left: 75px
  & h3
    margin-bottom: 90px
  & .base-text,
  & .link-preview
    margin-left: 90px
  & .base-text
    text-indent: 55px
    text-align: justify
  & .link-preview
    margin-top: 95px

.footer
  position: relative
  padding-top: 35px
  background: url("../images/footer_bg.png") no-repeat 50% 0
  background-size: 130%
  overflow: hidden
  &:before
    width: 204px
    height: 335px
    position: absolute
    top: 40%
    content: ''
    background: url("../images/bg_branch.png") no-repeat
    background-size: cover
    transform: scale(-1, 1)
  &:after
    width: 204px
    height: 335px
    position: absolute
    top: 40%
    right: 0
    content: ''
    background: url("../images/bg_branch.png") no-repeat
    background-size: cover

.section-prices
  position: relative
  z-index: 1
  display: flex
  align-items: center

.price-box
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  box-sizing: border-box
  padding-top: 57px
  padding-bottom: 55px
  background: #fff
  border-radius: 20px
  & li, p, .price, h4
    color: #3b3838
    opacity: .75
  & h4
    margin-top: 20px
    margin-bottom: 40px
    font-size: $font-size-h4 + 6px
  & p
    width: 75%
    text-align: center
  & .btn-primary, & .btn-alternate
    width: 227px
    height: 77px
    margin-top: 60px
    border-radius: 38px
  & .btn-primary
    box-shadow: -14px 16px 24px 1px rgba(226, 88, 91, 0.29), 0 0 7px rgba(255, 255, 255, 0.35)
  & .btn-alternate
    box-shadow: -14px 16px 24px 1px rgba(95, 206, 244, 0.29), 0 0 7px rgba(255, 255, 255, 0.35)

.price-box-small
  width: 473px
  height: 689px
  box-shadow: -27px 32px 35px rgba(255, 106, 109, 0.15)

.price-box-big
  width: 503px
  height: 772px
  box-shadow: -24px 28px 136px rgba(255, 106, 109, 0.19)

.best-title
  width: 100%
  height: 107px
  margin-top: -57px
  margin-bottom: 36px
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  text-align: center
  line-height: 107px
  font-size: $font-size + 12px
  font-weight: 700
  text-transform: uppercase
  color: #fff
  background-color: $main-color

.privileges-list
  width: 75%
  list-style-type: none
  & li
    display: flex
    align-items: center
    line-height: 67px
    &:before
      content: ''
      display: inline-block
      width: 38px
      height: 38px
      margin-right: 35px

.standart-priv:before
  background: url("../images/circle_check_cyan.png")

.best-seller-priv:before
  background: url("../images/circle_check_pink.png")

.price
  position: relative
  margin-top: auto
  margin-bottom: 6px
  margin-left: 40px

.currency
  position: absolute
  top: 0
  left: -40px
  font-size: 48px

.price-value
  font-size: 150px

.price-period
  font-size: 30px

.bottom-menu
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  height: 567px
  box-sizing: border-box
  margin-top: 206px
  padding-top: 115px
  padding-left: 170px
  padding-right: 170px
  border-top-left-radius: 176px
  border-top-right-radius: 176px
  background-color: rgba(255,255,255,.5)
  & .section-row
    justify-content: space-between

.bottom-menu-col,
.copy
  color: #2e2e2e
  opacity: .7

.bottom-menu-col
  max-width: 220px
  font-size: $font-size - 2px
  line-height: 30px
  & ul
    list-style-type: none
  & li
    margin-bottom: 10px
  & a
    color: #2e2e2e

.bottom-menu-title
  margin-top: -6px
  margin-bottom: 58px
  font-size: $font-size
  font-weight: 700
  text-transform: uppercase

.copy
  width: 100%
  margin-top: auto
  margin-bottom: 55px
  text-align: center